@use '../../utils/styles/variables.scss'as *;

.logo-link {
    display: flex;
    align-items: center;
    color: $tertiary;
    margin-left: 28px;
    text-decoration: none;

    & h1 {
        margin-left: 0.5em;
    }
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $secondary;
    color: $primary;
    font-size: 24px;
    min-width: 100vw;
    height: 91px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}