@use '../../utils/styles/variables.scss'as *;

.main-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    margin-top: 3rem;
    border: solid 4px red;
    margin-left: 133px;
    // max-width: 1200px;
    // width: 80%;
    margin-right: 30px;

    &>div {
        margin-top: 3em;
    }
}


.header-like {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    color: #000000;

    & h2 {
        font-size: 48px;
        font-weight: 500;
    }

    & p {
        margin-top: 2rem;
        font-weight: 400;
        font-size: 18px;
    }

}

.user-firstName {
    color: $tertiary;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.charts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // height: 100%;
    // width: 100%;
    width: 825px;
    margin: 10px;
}

.daily-activity {
    height: 320px;
    width: 100%;
    background-color: #FBFBFB;
    border-radius: 5px;
}

.squares-charts-container {
    display: flex;
    justify-content: space-between;
    height: 263px;
    width: 100%;
}

.squares-charts-container>div {
    width: 258px;
    height: 263px;
    border-radius: 5px;
    border: solid green 1px;
}

.square-chart--line {
    background-color: #FF0000;
    color: #FFFFFF;
}

.square-chart--radar {
    background-color: #282D30;
    color: #FFFFFF;
}

.square-chart--goal {
    background-color: #FBFBFB;
    color: #282D30;
}

.nutrition-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

@media (max-width:1360px) {
    .main-content {
        justify-content: center;
    }
}