@use '../../utils/styles/variables.scss'as *;

.main-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    margin-top: 2rem;
    margin-left: 133px;
    margin-right: 30px;

    &>div {
        margin-top: 3em;
    }
}


.header-like {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    color: #000000;

    & h2 {
        font-size: 48px;
        font-weight: 500;
    }

    & p {
        margin-top: 2rem;
        font-weight: 400;
        font-size: 18px;
    }

}

.user-firstName {
    color: $tertiary;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.charts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 825px;
    margin: 10px;
}

.daily-activity {
    height: 320px;
    width: 100%;
    background-color: #FBFBFB;
    border-radius: 5px;

    & h3 {
        Font-size: 15px;
        Line-height: 24px;
        color: #20253A;
        margin-top: 24px;
        margin-left: 32px;
    }
}

.squares-charts-container {
    display: flex;
    justify-content: space-between;
    height: 263px;
    width: 100%;
}

.squares-charts-container>div {
    width: 258px;
    height: 263px;
    border-radius: 5px;
}

.square-chart--line {
    background-color: #FF0000;
    color: #FFFFFF;
    position: relative;

    & h3 {
        Font-size: 15px;
        Line-height: 24px;
        opacity: 50.4%;
        top: 29px;
        left: 34px;
        position: absolute;
    }
}

.square-chart--radar {
    background-color: #282D30;
    color: #FFFFFF;
}

.square-chart--goal {
    background-color: #FBFBFB;
    color: #282D30;
    position: relative;

    & h3 {
        Font-size: 15px;
        Line-height: 24px;
        color: #20253A;
        top: 30px;
        left: 24px;
        position: absolute;
    }
}

.nutrition-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

@media (max-width:1360px) {
    .main-content {
        justify-content: center;
    }

    .squares-charts-container {
        margin-top: 1rem;
    }
}