.main-profile {
    display: flex;
    // min-height: 700px;
    // height: 100vh;
}

.header-like {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}